# Codiv-19 Italy

This notebook collects *some analysis* of that data about Covid-19
pandemic in Italy. Source data comes from the GitHub repository
[pcm-dpc/COVID-19](https://github.com/pcm-dpc/COVID-19).

## Inhabitants in Italy

TODO Add description.

In [1]:
import pandas as pd

INHABITANTS_CSV_URL = "https://raw.githubusercontent.com/gilbertotcc/colab-notebooks/04aa8a79c1d57e83be9cd633f726c62b6778493d/datasets/Inhabitants_in_Italy_2020.csv"

european_inhabitants = pd.read_csv(INHABITANTS_CSV_URL)
european_inhabitants

      ITTER107    Territorio TIPO_DATO15  ...   Value  Flag Codes             Flags
0           IT        Italia         JAN  ...  214673           p  dato provvisorio
1           IT        Italia         JAN  ...  204067           p  dato provvisorio
2           IT        Italia         JAN  ...  418740           p  dato provvisorio
3          ITC    Nord-ovest         JAN  ...   56409           p  dato provvisorio
4          ITC    Nord-ovest         JAN  ...   54123           p  dato provvisorio
...        ...           ...         ...  ...     ...         ...               ...
41305    IT111  Sud Sardegna         JAN  ...    1630           p  dato provvisorio
41306    IT111  Sud Sardegna         JAN  ...     706           p  dato provvisorio
41307    IT111  Sud Sardegna         JAN  ...    1376           p  dato provvisorio
41308    IT111  Sud Sardegna         JAN  ...  172159           p  dato provvisorio
41309    IT111  Sud Sardegna         JAN  ...    2923           p  dato provvisorio

[41310 rows x 15 columns]

## Covid-19 cases

TODO Add description.

In [ ]:
import pandas as pd

LATEST_DATA_BY_REGION_CSV_URL = "https://raw.githubusercontent.com/pcm-dpc/COVID-19/master/dati-regioni/dpc-covid19-ita-regioni-latest.csv"

current_data_by_region = pd.read_csv(LATEST_DATA_BY_REGION_CSV_URL)
current_data_by_region[["denominazione_regione", "nuovi_positivi"]]

    denominazione_regione  nuovi_positivi
0                 Abruzzo             510
1              Basilicata             218
2                Calabria             468
3                Campania            2924
4          Emilia-Romagna            2165
5   Friuli Venezia Giulia             864
6                   Lazio            2276
7                 Liguria             606
8               Lombardia            5389
9                  Marche             490
10                 Molise              79
11           P.A. Bolzano             410
12            P.A. Trento             229
13               Piemonte            3149
14                 Puglia            1737
15               Sardegna             375
16                Sicilia            1566
17                Toscana            1117
18                 Umbria             261
19          Valle d'Aosta             101
20                 Veneto            3418